<li class="message-full-reply">
	<div class="message-full">
	<div class="message-full-user">	
		<p><%= user %>:</p>
		<span> <%= added %></span>
	</div>
	<p class="message-full-message"><%= message %></p>	
	</div>
</li>
